.imageContainer {
  margin: 20px;
  display: grid;
  place-items: center;
  position: relative;
  max-width: 300px;
}
.imageContainer > .icon-btn {
  position: absolute;
  top: 2px;
  right: 2px;
}
.imageThumb {
  width: 100%;
  margin: 0;
}

.imageAuthor {
  margin: 5px;
}
